.phone {
    position   : absolute;
    left       : .4rem;
    bottom     : 2.4rem;
    font-size  : .373333rem;
    line-height: .533333rem;
    color      : #37384c;
}

.form {
    box-sizing: border-box;
    width     : calc(100% - .8rem);
    position  : absolute;
    top       : -0.186667rem;
    left      : .4rem;
    background: transparent;


    li {
        box-sizing   : border-box;
        margin-bottom: .266667rem;
        height       : 1.173333rem;

        input {
            box-sizing      : border-box;
            width           : 100%;
            height          : 1.173333rem;
            line-height     : 1.173333rem;
            padding         : 0 .533333rem;
            background-color: transparent;
            background-size : 100%;
            background-image: url('../../images/contactus/input-bg.png');
            color           : #fff;

            &::placeholder {
                color: #fff;
            }

        }

        &:nth-last-child(2) {
            height     : 2.666667rem;
            padding-top: .133333rem;

            textarea {
                box-sizing      : border-box;
                width           : 100%;
                background      : transparent;
                border          : none;
                background-image: url('../../images/contactus/textarea-bg.png');
                height          : 100%;
                background-size : 100% 100%;
                padding         : .4rem;

                &::placeholder {
                    color: #fff;
                }
            }
        }

        button {
            margin: .533333rem 0;
            width : 100%;
        }
    }
}

.sign {
    box-sizing: border-box;

    input {
        width        : calc(100% - .8rem);
        left         : .4rem;
        bottom       : 2.666667rem;
        height       : 1.173333rem;
        line-height  : 1.173333rem;
        padding      : 0 .4rem;
        position     : absolute;
        box-sizing   : border-box;
        border-radius: .16rem;
        background   : #fbe2a2;
        font-size    : .426667rem;
        color        : #e29f41;

        &::placeholder {
            color: #e29f41;
        }
    }

    .lg-btn {
        width : calc(100% - .8rem);
        left  : .4rem;
        bottom: 1.066667rem;
    }
}