.lg-layout {
  li {
    &:nth-child(1) {
      background-image: url(../../images/referfriend/referfriend_02.png);

      .lg-bg {
        height: 523px;
      }

    }

    &:nth-child(2) {
      background-image: url(../../images/referfriend/referfriend_03.png);

      .lg-bg {
        height: 535px;

        .give {
          width      : 200px;
          height     : 50px;
          line-height: 50px;
          padding    : 0;
          border     : 2px solid rgba(78, 79, 105, 1);
          top        : 384px;
          left       : 120px;
        }
      }
    }

    &:nth-child(3) {
      background-image: url(../../images/referfriend/referfriend_04.png);

      .lg-bg {
        height: 660px;
      }
    }

    &:nth-child(4) {
      background-image: url(../../images/referfriend/referfriend_05.png);

      .lg-bg {
        height: 356px;

        .email {
          width      : 370px;
          height     : 50px;
          box-sizing : border-box;
          padding    : 0 0 0 20px;
          color      : rgba(139, 215, 216, 1);
          background : #409B9C;
          line-height: 50px;
          text-align : left;
          top        : 105px;
          right      : 20px;
        }

        ::-webkit-input-placeholder {
          color     : rgba(139, 215, 216, 1);
          font-style: italic;
        }

        .submit {
          width      : 200px;
          height     : 50px;
          line-height: 50px;
          padding    : 0;
          top        : 170px;
          right      : 188px;
        }
      }
    }
  }
}