.teacher-btn {
  left: .4rem;
  width: 4.773333rem;
  height: 1.066667rem;
  text-align: center;
  line-height: 1.066667rem;
  color: #4E4F69;
  background: white;
  color: #4E4F69;
  font-weight: 500;
}
.take {
  top: 4.906667rem;
}
.read {
  bottom: 1.333333rem;
}