.lg-layout {
  li {
    &:nth-child(1) {
      background-image: url(../../images/teachers/teachers_02.png);

      .lg-bg {
        height: 523px;
      }

    }

    &:nth-child(2) {
      background-image: url(../../images/teachers/teachers_03.png);

      .lg-bg {
        height: 407px;
      }
    }

    &:nth-child(3) {
      background-image: url(../../images/teachers/teachers_04.png);
      .lg-bg {
        height: 637px;
      }
    }

    &:nth-child(4) {
      background-image: url(../../images/teachers/teachers_05.png);
      .lg-bg {
        height: 772px;
      }
    }

    &:nth-child(5) {
      background-image: url(../../images/teachers/teachers_06.png);
      .lg-bg {
        height: 500px;
      }
      .free {
        width: 206px !important;
        height: 50px !important;
        line-height: 50px !important;
        padding: 0;
        top: 365px;
        left: 20px;
      }
      .read {
        width: 188px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        top: 365px;
        right: 190px;
      }
    }
    
    &:nth-child(6) {
      background-image: url(../../images/teachers/teachers_07.png);
      .lg-bg {
        height: 776px;
      }
    }
    
  }
}