body {
    background: #f4f4f4;
}

.lg-layout {
    width         : 960px;
    color         : #37384c;
    padding       : 0 60px;
    background    : #fff;
    padding-bottom: 50px;
    box-sizing    : border-box;
}

p {
    margin     : 0;
    padding    : 0;
    line-height: 20px;
}

.titleservice {
    font-family   : "Roboto";
    font-size     : 32px;
    padding-bottom: 30px;
}

.generaltitle,
.wensitetitle,
.registrationtitle,
.warrantiestitle,
.titleservice {
    font-size     : 24px;
    font-family   : "Rubik";
    padding-top   : 30px;
    padding-bottom: 20px;
}

.maintext {
    font-size  : 16px;
    font-family: "Rubik";
    line-height: 20px;
}