// @font-face {
//     font-family: Comfortaa;
//     src        : url('./fonts/Comfortaa-Regular.ttf');
//     /* 大标题和人物留言 */
// }

// @font-face {
//     font-family: Roboto;
//     src        : url('./fonts/Roboto-Condensed.ttf');
//     /* 人物署名字体 */
// }

@font-face {
    font-family: Rubik-Medium;
    src        : url('./fonts/Rubik-Medium.ttf');
    /* 标题上粗体及按钮粗体文字 */
}

@font-face {
    font-family: Rubik;
    src        : url('./fonts/Rubik-Regular.ttf');
    /* 描述文字 */
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin : 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border       : none;
    padding      : 0;
    margin       : 0;
    outline-style: none;
}

/*去掉input等聚焦时的蓝色边框*/
ul,
ol {
    list-style: none;
}

input {
    padding-top   : 0;
    padding-bottom: 0;
    font-family   : "Rubik";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin   : 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border        : 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {
    border-collapse: collapse;
}

body {
    font      : 12px/150% Arial, Verdana, "\5b8b\4f53";
    color     : #666;
    background: #fff
}

.clearfix:before,
.clearfix:after {
    /*清楚浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color          : #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight    : normal;
    font-size      : 100%;
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,
i,
em {
    font-style     : normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width : 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

.font12 {
    font-size: .32rem;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.lg-icon {
    display            : inline-block;
    background-position: center;
    background-size    : 100%;
    background-repeat  : no-repeat;
}

.lg-layout {
    width    : 100%;
    margin   : 0 auto;
    font-size: 0;

    &>li {
        margin             : 0;
        padding            : 0;
        font-size          : 0;
        background-position: center;
        background-repeat  : no-repeat;
        position           : relative;

        .lg-bg {
            width   : 1280px;
            margin  : 0 auto;
            position: relative;
        }

        .lg-btn {
            position     : absolute;
            display      : inline-block;
            text-align   : center;
            z-index      : 100;
            box-sizing   : border-box;
            background   : #fff;
            border-radius: 6px;
            line-height  : 50px;
            font-size    : 14px;
            font-weight  : bold;
            padding      : 0 30px;
            font-family  : Rubik-Medium;
            cursor: pointer;

            &.lg-btn1 {
                border     : 2px solid #4E4F69;
                line-height: 46px;
                height     : 46px;
            }
        }

    }
}

footer {
    background: #4e4f69;
    padding   : .4rem;
    color     : #fff;

    .lg-logo {
        margin-top      : 1.066667rem;
        width           : 3.2rem;
        height          : 1.2rem;
        background-image: url('../../images/footer/icon-logo.png');
    }

    .info {
        font-size  : .32rem;
        line-height: .533333rem;
    }

    .icon-warpper {
        margin-top: .533333rem;
        display   : flex;

        li {
            flex        : 1;
            margin-right: .266667rem;

            .lg-icon-appstore {

                width           : 3.2rem;
                height          : 1.066667rem;
                background-image: url('../../images/footer/footerdownios_03.png');
            }

            .lg-icon-kidsafe {
                width           : 3.2rem;
                height          : 1.066667rem;
                background-image: url('../../images/footer/footerdownkid_03.png');
            }
        }
    }

    .footer-menus {
        margin     : 0 .533333rem;
        line-height: 1.333333rem;

        li>a {
            color    : #fff;
            font-size: .426667rem;

            i {
                font-size          : 0;
                width              : 0;
                height             : 0;
                border             : .213333rem solid #fff;
                border-top-color   : transparent;
                border-bottom-color: transparent;
                border-right-color : transparent;
                vertical-align     : middle;
            }
        }
    }

    .copy {
        text-align   : center;
        margin-bottom: 1.333333rem;
        font-size    : .346667rem;
        color        : rgb(124, 125, 135);
    }

}

header {
    box-sizing: border-box;
    height    : 1.173333rem;
    display   : flex;
    padding   : .173333rem .4rem;

    .logo {
        flex: 1;

        img {
            height        : .8rem;
            vertical-align: top;
        }
    }

    .masklogin,
    .maskregister {
        width     : 100%;
        height    : 100%;
        position  : fixed;
        top       : 0;
        left      : 0;
        background: rgba(0, 0, 0, .3);
        display   : none;
        z-index   : 9999;
        display   : none;

        .masksign {
            margin        : 2rem auto 0;
            width         : 90%;
            background    : #fff;
            border-radius : .266667rem;
            padding-bottom: 1rem;

            .close img {
                width : .4rem;
                height: .4rem;
            }

            .emailipt,
            .passwordipt,
            .usernameipt {
                width          : 90%;
                margin         : 0 auto;
                height         : 1.5rem;
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                border-bottom  : 2px solid #999;
            }

            .pasword {
                display        : flex;
                width          : 90%;
                margin         : 0 auto;
                justify-content: space-between;
                align-items    : center;
                height         : 1.3rem;
                font-size      : .373333rem;
            }

            .sgintitle {
                width          : 100%;
                height         : 2rem;
                display        : flex;
                justify-content: space-between;
                align-items    : center;
            }

            .sgintitle span {
                width     : 30%;
                text-align: center;
            }

            .sgintitle :nth-child(2) {
                font-size  : .74rem;
                color      : #d78f25;
                font-family: "Comfortaa";
            }

            .sgintitle :nth-child(3) {
                font-size  : .44rem;
                color      : #6e70a0;
                font-family: "Rubik";
            }

            .emailwrong,
            .passwordwrong {
                display: none;
                color  : #eb532f;
            }

            .emailwrong {
                width      : 80%;
                margin     : 0 auto;
                color      : #eb532f;
                font-size  : 12px;
                line-height: 15px;
                display    : none;
            }

            .passwordwrong {
                width      : 80%;
                margin     : 0 auto;
                color      : #eb532f;
                font-size  : 12px;
                line-height: 15px;
                display    : none;
            }

            .loginbtn {
                display      : block;
                width        : 90%;
                margin       : 0 auto;
                height       : 1.2rem;
                background   : #6e70a0;
                color        : #fff;
                border-radius: .1rem;
                line-height  : 1.2rem;
                text-align   : Center;
                font-size    : .52rem;
                font-family  : "Rubik";
                margin-top   : .5rem;
                margin-bottom: .5rem;
            }

            .gotomethod {
                width      : 90%;
                margin     : 0 auto;
                color      : #999;
                line-height: .7rem;
                font-size  : .346667rem;
            }

            .gotomethod .jump {
                color          : #6e70a0;
                text-decoration: underline;
                cursor         : pointer;
            }
        }
    }

    .lg-icon {
        flex                 : 0 1.173333rem;
        display              : inline-block;
        background-size      : .488rem .488rem;
        background-position-x: right;
        display              : none;
    }

    .lg-icon-close {
        background-image: url('../../images/header/close.png');
    }

    .lg-icon-menu {
        display         : inline-block;
        background-image: url('../../images/header/move_headermore_03.png');
    }



}

.menu {
    width   : 100%;
    height  : 150%;
    position: fixed;
    left    : 0;
    top     : 1.173333rem;
    z-index : 1000;

    background-repeat: no-repeat;
    background-size  : 100%;
    display          : none;

    .lg-menu {
        display         : block;
        width           : 100%;
        height          : 100%;
        text-align      : center;
        background-color: rgba(255, 255, 255, 0.8);

        li {
            a {
                font-size  : .426667rem;
                display    : block;
                height     : 50px;
                line-height: 1.333333rem;
                color      : #37384C;
            }
        }
    }

    .btn-box {
        height         : 1.173333rem;
        position       : absolute;
        left           : .4rem;
        top            : 13.466667rem;
        z-index        : 1000;
        display        : flex;
        justify-content: space-between;

        .btn1 {
            margin-right: .4rem;
        }

        button {
            width        : 4.4rem;
            height       : 1.173333rem;
            font-size    : .373333rem;
            color        : #56BECD;
            background   : #fff;
            border-radius: .16rem;
        }
    }
}


.sign {
    box-sizing: border-box;

    input {
        width        : 270px;
        left         : 50px;
        bottom       : 136px;
        height       : 50px;
        line-height  : 50px;
        padding      : 0 15px;
        position     : absolute;
        box-sizing   : border-box;
        border-radius: 10px;
        background   : #fbe2a2;
        font-size    : 16px;
        color        : #e29f41;
    }

    .lg-btn {
        box-sizing: border-box;
        left      : 50px;
        bottom    : 73px;
    }
}