@font-face {
    font-family: Comfortaa;
    src        : url('./fonts/Comfortaa-Regular.ttf');
    /* 大标题和人物留言 */
}

// @font-face {
//     font-family: Roboto;
//     src        : url('./fonts/Roboto-Condensed.ttf');
//     /* 人物署名字体 */
// }

@font-face {
    font-family: Rubik-Medium;
    src        : url('./fonts/Rubik-Medium.ttf');
    /* 标题上粗体及按钮粗体文字 */
}

@font-face {
    font-family: Rubik;
    src        : url('./fonts/Rubik-Regular.ttf');
    /* 描述文字 */
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin : 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border       : none;
    padding      : 0;
    margin       : 0;
    outline-style: none;
}

/*去掉input等聚焦时的蓝色边框*/
ul,
ol {
    list-style: none;
}

input {
    padding-top   : 0;
    padding-bottom: 0;
    font-family   : "Rubik";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin   : 0;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border        : 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {
    border-collapse: collapse;
}

body {
    font      : 12px/150% Arial, Verdana, "\5b8b\4f53";
    color     : #666;
    background: #fff
}

.clearfix:before,
.clearfix:after {
    /*清楚浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color          : #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight    : normal;
    font-size      : 100%;
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,
i,
em {
    font-style     : normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width : 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

.font12 {
    font-size: .32rem;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.lg-icon {
    display            : inline-block;
    background-position: center;
    background-size    : 100%;
    background-repeat  : no-repeat;
}

.lg-layout {
    width    : 100%;
    margin   : 0 auto;
    font-size: 0;

    &>li {
        margin             : 0;
        padding            : 0;
        font-size          : 0;
        background-position: center;
        background-repeat  : no-repeat;
        position           : relative;

        .lg-bg {
            width   : 1170px;
            margin  : 0 auto;
            position: relative;
        }

        .lg-btn {
            position     : absolute;
            display      : inline-block;
            text-align   : center;
            z-index      : 100;
            box-sizing   : border-box;
            background   : #fff;
            border-radius: 6px;
            line-height  : 50px;
            font-size    : 14px;
            font-weight  : bold;
            padding      : 0 30px;
            font-family  : Rubik-Medium;
            cursor       : pointer;

            &:hover {
                background: rgba(78, 79, 105, .95);
                color     : #fff;
            }

            &.lg-btn1 {
                border     : 2px solid #4E4F69;
                line-height: 46px;
                height     : 46px;
            }

            &.lg-btn2:hover {
                color     : #fff;
                background: rgba(78, 79, 105, 1);
                ;
            }
        }

    }
}

.trustpilot-widget {
    width : 1200px;
    margin: 50px auto;

    iframe {
        margin: 0 auto;
    }
}

footer {
    background: #4e4f69;
    padding   : 40px;
    color     : #fff;

    .footer-warpper {
        display: flex;
        width  : 960px;
        margin : 0 auto;

        .left {
            flex: 1;

            .lg-logo {
                display         : inline-block;
                width           : 161px;
                height          : 61px;
                background-image: url('../../images/footer/icon-logo.png');
            }

            .info {
                font-size  : 14px;
                line-height: 20px;
            }

            .copy {
                padding-top: 12px;
                text-align : left;
                font-size  : 12px;
                color      : rgb(121, 122, 142);
            }
        }

        .right {
            flex        : 0 460px;
            padding-left: 50px;
            margin-top  : 20px;

            .icon-warpper {
                display     : block;
                padding-left: 20px;

                li {
                    display      : inline-block;
                    padding-right: 20px;

                    i {
                        display: inline-block;
                        width  : 90px;
                        height : 30px;
                    }

                    .lg-icon-appstore {
                        background-image: url('../../images/footer/footerdownios_03.png');
                    }

                    .lg-icon-kidsafe {
                        background-image: url('../../images/footer/footerdownkid_03.png');
                    }
                }
            }

            .footer-menus {
                margin     : 16px;
                line-height: 20px;

                li {
                    display     : inline-block;
                    margin-right: 20px;
                    border-left : 2px solid #fff;
                    padding-left: 10px;
                    line-height : 18px;

                    &>a {
                        color    : #fff;
                        font-size: 16px;
                    }
                }

            }
        }
    }



}


.mask {
    width     : 100%;
    height    : 100%;
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 1100;
    background: rgba(0, 0, 0, .3);
    display   : none;

    .masksign,
    .maskregister {
        width        : 490px;
        position     : absolute;
        left         : 50%;
        top          : 50%;
        margin-left  : -245px;
        margin-top   : -237px;
        background   : #fff;
        z-index      : 9999;
        border-radius: 10px;
        display      : none;

        .sgintitle {
            width          : 90%;
            padding        : 0 5%;
            height         : 90px;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            span {
                flex: 1;
            }

            .logintitle {
                text-align: center;
            }

            img {
                width : 15px;
                height: 15px;
                cursor: pointer;
            }
        }

        .sgintitle :nth-child(2) {
            font-size  : 32px;
            font-family: "Comfortaa";
            color      : #d78f25;
        }

        .sgintitle :last-child {
            text-align: end;
            color     : #6e70a0;
            font-size : 16px;
            cursor    : pointer;
        }

        .emailipt,
        .passwordipt,
        .username {
            width        : 90%;
            height       : 50px;
            border-bottom: 2px solid #ccc;
            margin       : 0 auto;
            display      : flex;
            align-items  : center;

            input {
                margin      : 0 6%;
                display     : flex;
                width       : 77%;
                height      : 98%;
                border      : none;
                outline     : none;
                color       : #34364d !important;
                font-family : "Continue";
                font-size   : 16px;
                margin-right: 6%;
            }

            img {
                cursor: pointer;
            }
        }

        .pasword {
            width          : 90%;
            height         : 50px;
            margin         : 0 auto;
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            p {
                span {
                    font-size  : 16px;
                    color      : #999999;
                    margin-left: 5px;
                }
            }

            .forgotpassword {
                a {
                    font-size: 16px;
                    color    : #6e70a0;
                }
            }

            .forgotpassword {
                text-align: right;
            }
        }

        .login {
            width : 90%;
            margin: 0 auto;

            .loginbtn {
                width        : 100%;
                height       : 45px;
                background   : #6e70a0;
                border-radius: 5px;
                line-height  : 45px;
                text-align   : center;
                color        : #fff;
                font-weight  : 600;
                margin-top   : 20px;
                cursor       : pointer;
            }

            .form-loginbtn {
                margin-bottom: 40px;
            }
        }

        .gotomethod {
            width      : 90%;
            margin     : 0 auto;
            font-size  : 13px;
            font-family: "Rubik";
            color      : #999999;
            line-height: 22px;
            padding    : 15px 0;

            .jump {
                color: #6e70a0;
            }
        }
    }

    .maskregister {
        display: block;
    }
}

.header {
    background: #fff;
    width     : 100%;

    .header_menu {
        width : 1170px;
        margin: 0 auto;

        .top_bar {
            height    : 35px;
            text-align: right;

            ul {
                display    : inline-block;
                padding-top: 6px;

                li {
                    float      : left;
                    margin-left: 15px;

                    span,
                    a {
                        color: #CCCCCC;
                    }

                    .refer,
                    .login {
                        line-height: 20px;
                    }
                }
            }
        }

        .bottom_bar {
            margin-bottom  : 24px;
            display        : flex;
            justify-content: space-between;

            .menu_ul {
                li {
                    float      : left;
                    line-height: 71px;
                    margin-left: 34px;
                    position   : relative;

                    .select {
                        position  : absolute;
                        width     : 260px;
                        z-index   : 1000;
                        background: #fff;
                        border    : 1px solid #eee;
                        top       : 48px;
                        left      : -34px;
                        display   : none;

                        div {
                            width      : 100%;
                            height     : 44px;
                            line-height: 44px;
                            text-align : center;

                            &:hover {
                                background: rgba(73, 69, 69, 0.3);
                            }
                        }
                    }

                    &:hover {
                        .select {
                            display: block;
                        }
                    }

                    a {
                        color: #37384C;
                    }
                }

                .signup {
                    width        : 100px;
                    cursor       : pointer;
                    height       : 44px;
                    text-align   : center;
                    line-height  : 48px;
                    color        : #76CBC9;
                    border       : 2px solid rgba(118, 203, 201, 1);
                    border-radius: 5px;
                    margin-top   : 12px;

                    &:hover {
                        background: rgba(118, 203, 201, 1);
                        color     : white;
                    }
                }
            }
        }
    }
}


.menu {
    width   : 100%;
    height  : 150%;
    position: fixed;
    left    : 0;
    top     : 1.173333rem;
    z-index : 1000;

    background-repeat: no-repeat;
    background-size  : 100%;
    display          : none;

    .lg-menu {
        display         : block;
        width           : 100%;
        height          : 100%;
        text-align      : center;
        background-color: rgba(255, 255, 255, 0.8);

        li {
            a {
                font-size  : .426667rem;
                display    : block;
                height     : 50px;
                line-height: 1.333333rem;
                color      : #37384C;
            }
        }
    }

    .btn-box {
        height         : 1.173333rem;
        position       : absolute;
        left           : .4rem;
        top            : 13.466667rem;
        z-index        : 1000;
        display        : flex;
        justify-content: space-between;

        .btn1 {
            margin-right: .4rem;
        }

        button {
            width        : 4.4rem;
            height       : 1.173333rem;
            font-size    : .373333rem;
            color        : #56BECD;
            background   : #fff;
            border-radius: .16rem;
        }
    }
}


.sign {
    box-sizing: border-box;

    input {
        width        : 270px;
        left         : 50px;
        bottom       : 136px;
        height       : 50px;
        line-height  : 50px;
        padding      : 0 15px;
        position     : absolute;
        box-sizing   : border-box;
        border-radius: 10px;
        background   : #fbe2a2;
        font-size    : 16px;
        color        : #e29f41;
    }

    .lg-btn {
        box-sizing: border-box;
        left      : 50px;
        bottom    : 73px;
    }
}