.lg-layout {
  li {
    &:nth-child(1) {
      background-image: url(../../images/studentexp/studentexp_02.png);

      .lg-bg {
        height: 523px;
      }

    }

    &:nth-child(2) {
      background-image: url(../../images/studentexp/studentexp_03.png);

      .lg-bg {
        height: 800px;
      }
    }

    &:nth-child(3) {
      background-image: url(../../images/studentexp/studentexp_04.png);
      .lg-bg {
        height: 1001px;
      }
    }

    &:nth-child(4) {
      background-image: url(../../images/studentexp/studentexp_05.png);
      .lg-bg {
        height: 627px;
      }
  }

    &:nth-child(5) {
      background-image: url(../../images/studentexp/studentexp_06.png);
      .lg-bg {
        height: 980px;
        .signup-now {
          width: 177px;
          height: 50px;
          line-height: 50px;
          padding: 0;
          top: 142px;
          left: 20px;
        }
        .share {
          width: 264px;
          height: 50px;
          line-height: 50px;
          padding: 0 ;
        }
  
      }
    }
  }
}