.stu-btn {
  border-radius: .106667rem;
  height: .826667rem;
  line-height: .826667rem;
  background: #fff;
  color: #4E4F69;
  right: 1.2rem;
}
.sign-up {
  top: 2.72rem;
  width: 3.2rem;
}
.share {
  bottom: .533333rem;
  width: 5.6rem;
}