.phone-btn {
  width: 9.2rem;
  height: 1.173333rem;
  line-height: 1.173333rem;
  border-radius: .16rem;
  left: 0;
  right: 0;
  margin: auto;
}
.learn {
  bottom: 2.773333rem;
  border: .026667rem solid #4E4F69;
  color: #37384C;
}
.free {
  bottom: 1.333333rem;
  background: #4E4F69 !important;
  color: white;
}
.more {
  top: 9.28rem;
}
.teacher {
  bottom: 1.066667rem;
  border: .026667rem solid #4E4F69;
}
.signup-now {
  bottom: .893333rem;
  left: .8rem;
  width: 4rem;
  margin: 0;
  height: .853333rem;
  line-height: .853333rem !important;
  padding: 0 !important;
}
