.lg-layout {
    &>li {
        &:nth-child(1) {
            background-image: url("../../images/freeAssessment/freeAssessment_02.png");

            .lg-bg {
                height: 523px;
            }
        }

        &:nth-child(2) {
            background-image: url("../../images/freeAssessment/freeAssessment_03.png");

            .lg-bg {
                height: 966px;
            }
        }

        &:nth-child(3) {
            background-image: url("../../images/freeAssessment/freeAssessment_04.png");

            .lg-bg {
                height: 874px;
            }
        }

        &:nth-child(4) {
            background-image: url("../../images/freeAssessment/freeAssessment_05.png");

            .lg-bg {
                height: 549px;
            }
        }

        &:nth-child(5) {
            background-image: url("../../images/freeAssessment/freeAssessment_06.png");

            .lg-bg {
                height: 767px;
            }
        }
    }
}

.register {

    left     : 50%;
    transform: translateX(-50%);
    bottom   : 50px;
    z-index  : 100;
}

.lg-btn1 {
    left   : 155px !important;
    bottom : 447px !important;
    z-index: 100;
}

.sign {
    box-sizing: border-box;

    input {
        width     : 369px;
        left      : auto;
        right     : 50px !important;
        bottom    : 200px !important;
        background: #71739E;
        color     : #37384C;

        &::-webkit-input-placeholder {
            color: #37384C !important;
        }
    }


    #btn-sign {
        left  : auto;
        right : 248px !important;
        bottom: 134px !important;
    }
}